section{
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: #00cc5fff;
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}