h1{
    text-align: center; /* 텍스트 위치 */
    font-weight: 400;   /* 굵기 */
    text-decoration: #22ffad underline wavy;
    /* 취소선: line-through */
    letter-spacing: 15px;   /* 단어 간 간격 */
    font-size: 80px;
    /* font-family: Segoe UI, Futura, Arial; */
    font-family: monospace;
}

a{
    text-decoration: none;
}

p{
    line-height: 2;
}